<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
  {% include 'article/module/head.html' %}
  <title>{{ object.title }}｜UVEY[ユービイ]</title>
  <meta name="description" content="{{ object.content }}">
  <!-- STATIC FILE-->
  <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
  <link rel="stylesheet" type='text/css' href="{% static 'article/css/detail.css' %}">
  <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/detail.css' %}">
</head>

<body>
  <div class="message">
    <p>働く女性のための情報メディア</p>
    {% include 'article/module/smp_nav.html' %}
  </div>
  {% include 'article/module/header.html' %}
  <div class="wrapper">
    <div class="contents">
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <img src="{% static 'article/info/home.png' %}" style="width: 20px;">
    <a style="font-size: 13px; color: grey;" href="{% url 'article:index'%}"> Home ></a>
    <a style="font-size: 13px; color: grey;" href="{% url 'article:search_result' %}"> 検索結果 ></a>
  </div>
      <h1>{{ object.title }}</h1>
      {{ object.content | safe }}
      <div style="text-align: right; font-size: 14px; margin:50px 0 0 0; padding: 0; color: grey;">最終更新日：{{ object.updated_at|date:"Y-m-d" }}</div>
    </div>
    {% include 'article/module/sidebar.html' %}
    {% include 'article/module/footer.html' %}
  </div>
</body> 
</html>