<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
  {% include 'article/module/head.html' %}
  <title>UVEY[ユービイ]｜{{ object.title }}</title>
  <meta name="description" content="{{ object.content }}">
  <link rel="canonical" href="">
  <!-- SNS -->
  <meta property="og:url" content="ページのURL">
  <meta property="og:title" content="ページのタイトル">
  <meta property="og:type" content="ページのタイプ">
  <meta property="og:description" content="記事の抜粋">
  <meta property="og:image" content="画像のURL">
  <meta name="twitter:card" content="カード種類">
  <meta name="twitter:site" content="@Twitterユーザー名">
  <meta property="og:site_name" content="サイト名">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="appIDを入力">
  <!-- STATIC FILE-->
  <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
  <link rel="stylesheet" type='text/css' href="{% static 'article/css/detail.css' %}">
  <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/detail.css' %}">
</head>

<body>
  <div class="message">
    <p>働く女性のための情報メディア</p>
    {% include 'article/module/smp_nav.html' %}
  </div>
  {% include 'article/module/header.html' %}
  <div class="wrapper">
    <div class="contents">
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <img src="{% static 'article/info/home.png' %}" style="width: 20px;">
    <a style="font-size: 13px; color: grey;" href="{% url 'article:index'%}"> Home ></a>
    <a style="font-size: 13px; color: grey;" href="{% url 'article:search_result' %}"> 検索結果 ></a>
  </div>
      <h1>{{ object.title }}</h1>
      {{ object.content | safe }}
      <div style="text-align: right; font-size: 14px; margin:50px 0 0 0; padding: 0; color: grey;">最終更新日：{{ object.updated_at|date:"Y-m-d" }}</div>
    </div>
    {% include 'article/module/sidebar.html' %}
    {% include 'article/module/footer.html' %}
  </div>
</body> 
</html>