<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
  {% include 'article/module/head.html' %}
  <title>UVEY[ユービイ]｜職場の悩みを解決</title>
  <meta name="description" content="職場で悩みを抱えてませんか？聞いて話してお悩みを解消！">
  <link rel="canonical" href="">
  <!-- SNS -->
  <meta property="og:url" content="ページのURL">
  <meta property="og:title" content="ページのタイトル">
  <meta property="og:type" content="ページのタイプ">
  <meta property="og:description" content="記事の抜粋">
  <meta property="og:image" content="画像のURL">
  <meta name="twitter:card" content="カード種類">
  <meta name="twitter:site" content="@Twitterユーザー名">
  <meta property="og:site_name" content="サイト名">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="appIDを入力">
  <!-- indexしない -->
  <meta name="robots" content="noindex,nofollow">
</head>

<body>
  <div class="message">
    <p>働く女性のための情報メディア</p>
  </div>
  {% include 'article/module/header.html' %}

  <div class="wrapper">
    <div class="contents">
      <div class="topRecommendedArticles">
        <a href="{% url 'article:detail' first.pk %}">
          <div class="topArticleImg">
            <img class="articleImg" src="{{ first.thumbnail.url }}" style="height: 360px; width: 540px;">
          </div>
          <div class="topArticleTitle">
            {{ first.title }}
          </div>
        </a>
        {% for theme in first.themes.all %}
        <div class="artilceTagSpace">
          <p class="articleTag">{{theme.theme}}</p>
        </div>
        {% endfor %}

        {% for object in list %}
        <div class="articleList">
          <a href="{% url 'article:detail' object.pk %}">
          <div class="articleListImg">
            <img class="articleImg" src="{{ object.thumbnail.url }}" style="height: 200px; width: 300px;">
          </div>
          <div class="articleListTitle">
            {{ object.title }}
         </div></a>
          <div class="artilceListTagSpace">
          {% for theme in object.themes.all %}
            <p class="articleTag">{{ theme.theme }}</p>
          {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div class="seeMoreSpace">
            <a href="{% url 'article:search_result' %}">
          <div class="seeMoreButton">他の記覧も見る</div></a>
        </div>

        <div class="ad-TH">
          <a href="https://www.vultr.com/?ref=8604609"><img src="https://www.vultr.com/media/banners/banner_468x60.png"
            width="468" height="60"></a>
          <a href="https://www.vultr.com/?ref=8604609"><img src="https://www.vultr.com/media/banners/banner_468x60.png"
                width="468" height="60"></a>
        </div>
                <div class="communicationSpace">
          <div class="communicationTitle">お悩みを投稿する</div>
          <div class="communicationList">
            <div class="communicatorName">
              <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
              質問者：●●さん｜<span style="font-size: 12px; color:grey">現在の回答数：●●件</span>
            </div>
            <div class="communication">
              ARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアース
            </div>
            <div class="communications-answer">
              <a class="communications-answer-materials" href="">続きをみる</a>
              <a class="communications-answer-materials" href="">回答する</a>
            </div>
            <div class="communicatorName">
              <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
              質問者：●●さん｜<span style="font-size: 12px; color:grey">現在の回答数：●●件</span>
            </div>
            <div class="communication">
              ARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアース
            </div>
            <div class="communications-answer">
              <a class="communications-answer-materials" href="">続きをみる</a>
              <a class="communications-answer-materials" href="">回答する</a>
            </div>
            <div class="communicatorName">
              <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
              質問者：●●さん｜<span style="font-size: 12px; color:grey">現在の回答数：●●件</span>
            </div>
            <div class="communication">
              ARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアース
            </div>
            <div class="communications-answer">
              <a class="communications-answer-materials" href="">続きをみる</a>
              <a class="communications-answer-materials" href="">回答する</a>
            </div>
            <div class="communicatorName">
              <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
              質問者：●●さん｜<span style="font-size: 12px; color:grey">現在の回答数：●●件</span>
            </div>
            <div class="communication">
              ARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアース
            </div>
            <div class="communications-answer">
              <a class="communications-answer-materials" href="">続きをみる</a>
              <a class="communications-answer-materials" href="">回答する</a>
            </div>
            <div class="communicatorName">
              <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
              質問者：●●さん｜<span style="font-size: 12px; color:grey">現在の回答数：●●件</span>
            </div>
            <div class="communication">
              ARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアースARAの最新アイテム特集♡着るだけで美人に見える旬のアース
            </div>
            <div class="communications-answer">
              <a class="communications-answer-materials" href="">続きをみる</a>
              <a class="communications-answer-materials" href="">回答する</a>
            </div>
          <div class="seeMoreSpace">
            <a href="{% url 'article:search_result' %}">
              <div class="seeMoreButton">他のお悩みを見る</div>
            </a>
          </div>
          </div>

          </div>
        </div>      
    </div>
  {% include 'article/module/sidebar.html' %}
  {% include 'article/module/footer.html' %}
</div>

</body>

</html>