<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
    {% include 'article/module/head.html' %}
    <title>UVEY[ユービイ]｜職場の悩みを解決</title>
    <meta name="description" content="職場で悩みを抱えてませんか？聞いて話してお悩みを解消！">
    <link rel="canonical" href="">
    <!-- SNS -->
    <meta property="og:url" content="ページのURL">
    <meta property="og:title" content="ページのタイトル">
    <meta property="og:type" content="ページのタイプ">
    <meta property="og:description" content="記事の抜粋">
    <meta property="og:image" content="画像のURL">
    <meta name="twitter:card" content="カード種類">
    <meta name="twitter:site" content="@Twitterユーザー名">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="appIDを入力">
    <!--STATIC FILE-->
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/inquiry.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
    <!-- indexしない -->
    <meta name="robots" content="noindex,nofollow">
</head>

<body>
    <div class="message">
        <p>働く女性のための情報メディア</p>
        {% include 'article/module/smp_nav.html' %}
    </div>
    {% include 'article/module/header.html' %}
    <div class="wrapper">
        <div class="contents">
          <!-- breadcrumbs -->
           <div class="breadcrumbs" style="margin-bottom: 40px;">
             <img src="{% static 'article/info/home.png' %}" style="width: 20px;">
             <a style="font-size: 13px; color: grey;" href="{% url 'article:index'%}"> Home ></a>
             <a style="font-size: 13px; color: grey;" href="{% url 'article:inquiry' %}"> お問合せ ></a>
             <a style="font-size: 13px; color: grey;" href=""> 完了</a>
           </div>
            <div class="inquiryTitle">送信完了</div>
            <div class="inquiryDone">
                <p>リクエストが送信されました</p>
                <p>ご入力のメールアドレスまで返答をさせて頂きます。</p>
                <p>返答にはお時間を頂くことがあります。</p>
                <p>リクエストの内容によっては返信をしかねる場合も御座いますので</p>
                <p>あらかじめご了承下さい。</p>
            </div>
            <div class="returnTo">
                <a href="{% url 'article:index' %}">TOPページへ戻る</a>
            </div>
        </div>
    </div>
</body>

</html>