<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
    {% include 'article/module/head.html' %}
    <title>UVEY[ユービイ]｜職場の悩みを解決</title>
    <meta name="description" content="職場で悩みを抱えてませんか？聞いて話してお悩みを解消！">
    <!--STATIC FILE-->
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/inquiry.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
</head>

<body>
    <div class="message">
        <p>働く女性のための情報メディア</p>
        {% include 'article/module/smp_nav.html' %}
    </div>
    {% include 'article/module/header.html' %}
    <div class="wrapper">
        <div class="contents">
          <!-- breadcrumbs -->
           <div class="breadcrumbs" style="margin-bottom: 40px;">
             <img src="{% static 'article/info/home.png' %}" style="width: 20px;">
             <a style="font-size: 13px; color: grey;" href="{% url 'article:index'%}"> Home ></a>
             <a style="font-size: 13px; color: grey;" href="{% url 'article:inquiry' %}"> お問合せ ></a>
             <a style="font-size: 13px; color: grey;" href=""> 完了</a>
           </div>
            <div class="inquiryTitle">送信完了</div>
            <div class="inquiryDone">
                <p>リクエストが送信されました</p>
                <p>ご入力のメールアドレスまで返答をさせて頂きます。</p>
                <p>返答にはお時間を頂くことがあります。</p>
                <p>リクエストの内容によっては返信をしかねる場合も御座いますので</p>
                <p>あらかじめご了承下さい。</p>
            </div>
            <div class="returnTo">
                <a href="{% url 'article:index' %}">TOPページへ戻る</a>
            </div>
        </div>
    </div>
</body>

</html>