<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
    {% include 'article/module/head.html' %}
    <title>お問合せフォーム｜UVEY[ユービイ]</title>
    <meta name="description" content="お問合せフォーム｜UVEY.JP">
    <!--STATIC FILE-->
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/inquiry.css' %}">
		<link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
</head>

<body>
	<div class="message">
		<p>働く女性のための情報メディア</p>
		{% include 'article/module/smp_nav.html' %}
	</div>
	{% include 'article/module/header.html' %}
	<div class="wrapper">
		<div class="contents">
      <!-- breadcrumbs -->
      <div class="breadcrumbs" style="margin-bottom: 40px;">
        <img src="{% static 'article/info/home.png' %}" style="width: 20px;">
        <a style="font-size: 13px; color: grey;" href="{% url 'article:index'%}"> Home ></a>
        <a style="font-size: 13px; color: grey;" href="{% url 'article:inquiry' %}"> お問合せ</a>
      </div>
			<div class="inquiryTitle">リクエストを送信</div>
				<div class="inquiry">
					<form action="" method="POST">{% csrf_token %}
						<p class="inquiry_title">以下の中から該当する問題を選択してください</p>
						<p　class="inquiry_forms">{{ form.inquiry_type}}</p>
						<p class="inquiry_title">お名前</p>
						<p　class="inquiry_forms">{{ form.name }}</p>
						<p class="inquiry_title">メールアドレス</p>
						<p　class="inquiry_forms">{{ form.email }}</p>
						<p class="inquiry_title">お問合せ内容</p>
						<p　class="inquiry_forms">{{ form.inquiry　}}</p>
						<input class="inquiry_button" type="submit" value="送信">
					</form>
				</div>		
		</div>
	{% include 'article/module/footer.html' %}
	</div>
</body>
</html>