<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
    {% include 'article/module/head.html' %}
    <title>お問合せフォーム｜UVEY[ユービイ]</title>
    <meta name="description" content="職場で悩みを抱えてませんか？聞いて話してお悩みを解消！">
    <link rel="canonical" href="">
    <!-- SNS -->
    <meta property="og:url" content="ページのURL">
    <meta property="og:title" content="ページのタイトル">
    <meta property="og:type" content="ページのタイプ">
    <meta property="og:description" content="記事の抜粋">
    <meta property="og:image" content="画像のURL">
    <meta name="twitter:card" content="カード種類">
    <meta name="twitter:site" content="@Twitterユーザー名">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="appIDを入力">
    <!--STATIC FILE-->
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/inquiry.css' %}">
		<link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
		<!-- indexしない -->
    <meta name="robots" content="noindex,nofollow">
</head>

<body>
	<div class="message">
		<p>働く女性のための情報メディア</p>
		{% include 'article/module/smp_nav.html' %}
	</div>
	{% include 'article/module/header.html' %}
	<div class="wrapper">
		<div class="contents">
			<div class="inquiryTitle">リクエストを送信</div>
				<div class="inquiry">
					<form action="" method="POST">{% csrf_token %}
						<p class="inquiry_title">以下の中から該当する問題を選択してください</p>
						<p　class="inquiry_forms">{{ form.inquiry_type}}</p>
						<p class="inquiry_title">お名前</p>
						<p　class="inquiry_forms">{{ form.name }}</p>
						<p class="inquiry_title">メールアドレス</p>
						<p　class="inquiry_forms">{{ form.email }}</p>
						<p class="inquiry_title">お問合せ内容</p>
						<p　class="inquiry_forms">{{ form.inquiry　}}</p>
						<input class="inquiry_button" type="submit" value="送信">
					</form>
				</div>		
		</div>
	{% include 'article/module/footer.html' %}
	</div>
</body>
</html>