<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
    {% include 'article/module/head.html' %}
    <title>UVEY[ユービイ]｜職場の悩みを解決</title>
    <meta name="description" content="職場で悩みを抱えてませんか？聞いて話してお悩みを解消！">
    <link rel="canonical" href="">
    <!-- SNS -->
    <meta property="og:url" content="ページのURL">
    <meta property="og:title" content="ページのタイトル">
    <meta property="og:type" content="ページのタイプ">
    <meta property="og:description" content="記事の抜粋">
    <meta property="og:image" content="画像のURL">
    <meta name="twitter:card" content="カード種類">
    <meta name="twitter:site" content="@Twitterユーザー名">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="appIDを入力">
    <!-- STATIC FILES -->
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_search_result.css' %}">
    <!-- indexしない -->
    <meta name="robots" content="noindex,nofollow">
</head>

<body>
    <div class="message">
        <p>働く女性のための情報メディア</p>
    </div>
    {% include 'article/module/header.html' %}

    <div class="wrapper">
        <div class="contents">
            <div class="communicationList">
            {% for object in object_list %}
                <div class="communicatorName">
                    <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
                    質問者：{{ object.name }}<span style="font-size: 12px;">さん｜
                </div>
                <div class="communication">
                    <p class="postTitle">{{ object.title }}</p>
                    <p class="postText">{{ object.text }}</p>
                </div>
                <div class="communications-answer">
                    <a href="{% url 'article:post_detail' object.pk %}">
                    <img src="{% static 'article/info/pen.png'%}" style="height: 30px; width: 30px;">
                続きを見る</a>
                </div>
            {% endfor %}            
            </div>
        <div class="pagination" style="margin-top: 1000px;">
            <!-- 前へ の部分 -->
            {% if page_obj.has_previous %}
            <a class="pagination_block" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">前へ</a>
            {% endif %}

            <!-- 数字の部分 -->
            {% for num in page_obj.paginator.page_range %}
            {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}
            {% if page_obj.number == num %}
            <span class="pagination_block_current">{{ num }}</span>
            {% else %}
            <a class="pagination_block" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}

            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
            <a class="pagination_block" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">次へ</a>
            {% endif %}
        </div>
        </div>
        {% include 'article/module/sidebar.html' %}
        {% include 'article/module/footer.html' %}
    </div>

</body>

</html>