<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">

<head>
    {% include 'article/module/head.html' %}
    <title>UVEY[ユービイ]｜職場の悩みを解決</title>
    <meta name="description" content="職場で悩みを抱えてませんか？聞いて話してお悩みを解消！">
    <link rel="canonical" href="">
    <!-- SNS -->
    <meta property="og:url" content="ページのURL">
    <meta property="og:title" content="ページのタイトル">
    <meta property="og:type" content="ページのタイプ">
    <meta property="og:description" content="記事の抜粋">
    <meta property="og:image" content="画像のURL">
    <meta name="twitter:card" content="カード種類">
    <meta name="twitter:site" content="@Twitterユーザー名">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="appIDを入力">
    <!-- STATIC FILES -->
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/post_detail.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/footer_detail.css' %}">
    <!-- indexしない -->
    <meta name="robots" content="noindex,nofollow">
</head>

<body>
    <div class="message">
        <p>働く女性のための情報メディア</p>
    </div>
    {% include 'article/module/header.html' %}

    <div class="wrapper">
        <div class="contents">
            <div class="communicatorName">
                <img src="{% static 'article/info/people.png'%}" style="height: 30px; width: 30px;">
                質問者：{{ post.name }}<span style="font-size: 12px;">さん</span>
            </div>
            <h3>{{ post.title }}</h3>
            <p>{{ post.text| linebreaksbr }}</p>
        
            <div class="comment">    
            <a href="{% url 'article:comment' post.pk %}" target=”_blank”>
                <img src="{% static 'article/info/pen.png'%}" style="height: 30px; width: 30px;">
                コメントする</a>
            </div>

        <div class="replySpace">
            {% for comment in post.comment_set.all %}
            {% if comment.is_public %}
            <div class="replyer">
                <img src="{% static 'article/info/answer.png'%}" style="height: 30px; width: 30px;">
                {{ comment.name }}<span style="font-size: 12px;">さん</span>からコメントがありました
                <hr>
            </div>
            <div class="reply">{{ comment.text| linebreaksbr }}</div>
            
            <div class="re-replySpace"><a href="{% url 'article:reply' comment.pk %}" target=”_blank”>
                <img src="{% static 'article/info/doc.png'%}" style="height: 30px; width: 30px;">返信する</a></div>
                {% for reply in comment.reply_set.all %}
            <div class="re-replay">
                {% if reply.is_public %}
                <img src="{% static 'article/info/re-reply.png'%}" style="height: 30px; width: 30px;">
                {{ reply.name }}<span style="font-size: 12px;">さん</span>から返信がありました
                <br>{{ reply.text }}
                {% else %}
                <p>まだ承認されていません。(返信コメント)</p>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>まだ承認されていません。(コメント)</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'article/module/sidebar.html' %}
        {% include 'article/module/footer.html' %}
    </div>

</body>

</html>