{% load static %}
{% load humanize %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
<!-- ICON -->
<link rel="apple-touch-icon-precomposed" href="">
<link rel="icon" type="image/x-icon" href="{% static 'article/info/fav.png'%}">
<!-- BASE STATIC FILES -->
<link rel="stylesheet" type='text/css' href="{% static 'article/css/index.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'article/css/smp/index_smp.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'article/css/module/searchbox.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'article/css/smp/hum.js' %}"></script>
<!-- FONT -->
<link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169304107-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-169304107-3');
</script>