{% load static %}
{% load humanize %}
<div class="sideBar">
    <div class="searchBoxSpace">
        <div class="searchBoxTitle">記事を検索する</div>
            <form method="GET" action="{% url 'article:search_result' %}" class="search-wrapper cf">
                <input type="text" placeholder="Search here..." name="q">
                <button type="submit">Search</button>
            </form>
    </div>
        
    <div class="trendSpace">
        <div class="trendListTitle">トレンドワード</div>
        <a href="http://127.0.0.1:8000/search/?q={{ trend_word1 }}"><div class="trendList">#{{ trend_word1 }}</div></a>
        <div class="trendList">#{{ trend_word2 }}</div>
        <div class="trendList">#{{ trend_word3 }}</div>
        <div class="trendList">#{{ trend_word4 }}</div>
        <div class="trendList">#{{ trend_word5 }}</div>
    </div>

    <div class="category">
        <div class="categoryListTitle">人気のテーマ一覧</div>
        <div class="categoryList">
            <img src="{% static 'article/info/communication.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            人間関係
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/money.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            お金
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/celebration.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            結婚
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/private.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            プライベート
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/harassment.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            ハラスメント
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/love.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            恋愛
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/work.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            スキル
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/fashion.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            ファッション
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/health.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            ヘルス
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/career.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            キャリア
        </div>

    </div>

    <div class="adSpace-S">
        <a href="https://www.vultr.com/?ref=8604609"><img src="https://www.vultr.com/media/banners/banner_300x250.png"
                width="300" height="250"></a>
    </div>

    <div class="rankingSpace">
        <div class="rankingTitle">人気記事ランキング</div>

        <div class="rankingArticle">
            <div class="rankingArticleImg">
                <img class="articleImg" src="{%static 'article/img/sample.jpg' %}" style="height: 80px; width: 120px;">
            </div>
            <div class="rankingArticleContent">
                ARAの最新アイテム特集♡着るだけで美人に見える旬のアース
                <div class="artilceListTagSpace-ranking">
                    <p class="articleTag-ranking">職場</p>
                </div>
            </div>
        </div>

        <div class="rankingArticle">
            <div class="rankingArticleImg">
                <img class="articleImg" src="{%static 'article/img/sample.jpg' %}" style="height: 80px; width: 120px;">
            </div>
            <div class="rankingArticleContent">
                ARAの最新アイテム特集♡着るだけで美人に見える旬のアース
                <div class="artilceListTagSpace-ranking">
                    <p class="articleTag-ranking">職場</p>
                </div>
            </div>
        </div>

        <div class="rankingArticle">
            <div class="rankingArticleImg">
                <img class="articleImg" src="{%static 'article/img/sample.jpg' %}" style="height: 80px; width: 120px;">
            </div>
            <div class="rankingArticleContent">
                ARAの最新アイテム特集♡着るだけで美人に見える旬のアース
                <div class="artilceListTagSpace-ranking">
                    <p class="articleTag-ranking">職場</p>
                </div>
            </div>
        </div>

        <div class="rankingArticle">
            <div class="rankingArticleImg">
                <img class="articleImg" src="{%static 'article/img/sample.jpg' %}" style="height: 80px; width: 120px;">
            </div>
            <div class="rankingArticleContent">
                ARAの最新アイテム特集♡着るだけで美人に見える旬のアース
                <div class="artilceListTagSpace-ranking">
                    <p class="articleTag-ranking">職場</p>
                </div>
            </div>
        </div>

        <div class="rankingArticle">
            <div class="rankingArticleImg">
                <img class="articleImg" src="{%static 'article/img/sample.jpg' %}" style="height: 80px; width: 120px;">
            </div>
            <div class="rankingArticleContent">
                ARAの最新アイテム特集♡着るだけで美人に見える旬のアース
                <div class="artilceListTagSpace-ranking">
                    <p class="articleTag-ranking">職場</p>
                </div>
            </div>
        </div>

    </div>
    <div class="adSpace-F">
        <a href="https://www.vultr.com/?ref=8604609"><img src="https://www.vultr.com/media/banners/banner_160x600.png"
                width="160" height="600"></a>
        <a href="https://www.vultr.com/?ref=8604609"><img src="https://www.vultr.com/media/banners/banner_160x600.png"
                width="160" height="600"></a>
    </div>

</div>