{% load static %}
{% load humanize %}
<!-- ナビメニュー -->
<nav class="NavMenu">
    <img class="logo" src="{% static 'article/info/brand.png'%}" style="height: 30px; width: 90px; margin-top: 20px;">
    <div class="nav_searchBoxSpace">
    <div class="searchBoxTitle">記事を検索する</div>
        <form method="GET" action="{% url 'article:search_result' %}" class="search-wrapper cf">
            <input type="text" placeholder="Search here..." name="q">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="trendSpace">
        <div class="trendListTitle">トレンドワード</div>
        <a href="http://127.0.0.1:8000/search/?q={{ trend_word1 }}">
            <div class="trendList">#{{ trend_word1 }}</div>
        </a>
        <div class="trendList">#{{ trend_word2 }}</div>
        <div class="trendList">#{{ trend_word3 }}</div>
        <div class="trendList">#{{ trend_word4 }}</div>
        <div class="trendList">#{{ trend_word5 }}</div>
    </div>
    <div class="category">
        <div class="categoryListTitle">人気のテーマ一覧</div>
        <div class="categoryList">
            <img src="{% static 'article/info/communication.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            人間関係
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/money.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            お金
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/celebration.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            結婚
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/private.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            プライベート
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/harassment.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            ハラスメント
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/love.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            恋愛
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/work.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            スキル
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/fashion.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            ファッション
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/health.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            ヘルス
        </div>
        <div class="categoryList">
            <img src="{% static 'article/info/career.png' %}" style="height: 20px; width: 20px; margin-right: 15px;">
            キャリア
        </div>
    
    </div>
</nav>

<!-- メニュー -->
<div class="Toggle">
    <span class="toggle-span"></span>
    <span></span>
    <span></span>
</div>